<nb-card [nbSpinner]="spinner" nbSpinnerStatus="basic">
    <nb-card-header class="headerdfooteretail">
        <table>
            <thead>
                <TD COLSPAN=2>
                    <h3>
                        <nb-icon icon="speaker-outline" status="warning" [options]="{ animation: { type: 'zoom' } }"></nb-icon> 
                        Music Format List&nbsp;
                    </h3>
                </TD> 
                <TD>
                    <button *ngIf="admin" nbButton status="warning" (click)="add()" nbPopover="Add New Music Format" nbPopoverTrigger="hover" nbPopoverPlacement="right">
                        <nb-icon icon="plus-circle"></nb-icon>
                    </button>
                </TD>
            </thead>
        </table>        
    </nb-card-header>  
    <nb-card-body>
        <TABLE width=100%>
            <TR  *ngFor="let item of listeMF.results; let i = index" class="lineGrey">
                <!--<TD  ><a [routerLink]="['/MusicFormatDet', item.id]">{{item.name}}</a>  &nbsp;       </TD>    -->
                <TD align=center><B>{{item.name}}</B></TD>
                <TD width=100>
                    <button nbButton *ngIf="admin" status="warning" (click)="update(item.id)" Title="Modify Music Format">
                        <nb-icon icon="edit-2"></nb-icon>
                    </button>&nbsp;
                    <button nbButton *ngIf="admin" status="danger" (click)="delete(item.id,'Music Format : ' + item.name)" Title="Delete Music Format">
                        <nb-icon icon="trash-2"></nb-icon>
                    </button> 
                </TD>       
            </TR>  
        </TABLE>  
    </nb-card-body>
</nb-card>