<nb-card>
    <nb-card-body>
        <p>Collectionneur, complétiste et acheteur compulsif, afin d'avoir une liste me permettant d’éviter d’acheter par mégarde un exemplaire que je possèderais déjà, j’encode mes achats depuis des années dans un fichier Excel: Quoi , Quand , Où , Combien. </p>
        <P>	Ces listes, jusqu’à présent, étaient elles aussi reformatées dans un format Excel plus "light" pour une consultation rapide, sur portable ou dans la période pré-smartphone en version papier, en cas de doutes avant de passer à la caisse.</P>
        <P>	Maintenant, ayant découvert un monde de possibilités pour mes données, la machine s’est mise en route….</P>
        <P>	Dans un premier temps, je me suis basé sur la mécanique générale et ai appliquer les règles à un premier type d’objet : La Musique.</P>
        <BR><HR><BR>
        <p> Si je vous ai donné des crédentials, faites en bon usage!!!</p>
    </nb-card-body>
</nb-card>