<nb-layout>

    <nb-layout-header fixed>
      <nb-layout-column>
        <p><B>The 'Personnal Hell' of my Wallet</B></p>
      </nb-layout-column>
      <nb-layout-column>
        <nb-user *ngIf="AvatarName != ''" [name]=AvatarName [picture]="base64image"
        [nbPopover]="popoverstr" nbPopoverTrigger="hover" nbPopoverPlacement="left"
        ></nb-user>
      </nb-layout-column>
    </nb-layout-header>
  
    <nb-sidebar>
      <app-nav></app-nav>
    </nb-sidebar>
  
    <nb-layout-column>
     <div> 
       <router-outlet></router-outlet>
      </div>
    </nb-layout-column>
  
    <nb-layout-footer fixed>
    <p>&copy; Louddiva 2020</p>
    </nb-layout-footer>

</nb-layout>